.bg-linear-1 {
    background: linear-gradient(
        315deg,
        #2563eb 0%,
        rgba(37, 99, 235, 0.65) 50%,
        #2050b7 100%
    );
}

.bg-linear-2 {
    background: linear-gradient(
        163deg,
        #ffd600 0%,
        #d0aa12 100%
    );
}

.bg-linear-3 {
    background: linear-gradient(
        163deg,
        #334155 0%,
        #0f172a 100%
    );
}